/* PASSWORD INPUT */
.password {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 1280px;
    height: 720px;
    background: url("i_720/25alfa_20.png");
}

.password_container {
    position: absolute;
    top: 332px;
    left: 541px;
    width: 198px;
    height: 44px;
    background: url("i_720/mb_pass_bg.png");
}

.password_input {
    position: absolute;
    top: 7px;
    left: 42px;
    width: 100px;
    height: 27px;
    text-align: center;
    font: 35px/27px "Myriad Pro", Helvetica, sans-serif;
    letter-spacing: 0.15em;
    overflow: hidden;
    background: url("i_720/mb_pass_input.png") no-repeat;
}

.password_error_ico {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 26px;
    height: 26px;
    background: url("i_720/ico_error26.png") no-repeat;
}

/* END PASSWORD INPUT */